@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');

body {
    font-family: 'Roboto', sans-serif;
}

.black {
    background-color: #2d3136;
}

.top_block {
    padding: 30px 14% 40px 14%;
}

.logo img {
    width: 11.5em;
}

.contact_icon {
    text-align: center;
}

.contact_icon img {
    width: 10em;
}

.form {
    padding: 0 14% 40px 14%;
    color: #d7d7d7;
}

@media (min-width: 768px) {
    .form .left {
        padding-right: 3em;
    }

    .form .right {
        padding-left: 3em;
    }
}

.form label {
    font-weight: 500;
    font-size: 13pt;
    color: #d7d7d7;
}

.form-group.required .control-label:after {
    content: " *";
    color: #be393b;
}

.form-group.has-error .control-label, .form-group.has-success .control-label {
    color: #d7d7d7;
}

.form-group.has-success .form-control {
    border-color: #4c4f53;
}

.form-group.has-error .form-control {
    background-color: #2f3136;
    border-color: #743538;
}

.form-group.has-error .help-block {
    color: #743538;
}

.form textarea {
    height: 144px;
}

.form textarea {
    resize: none;
}

.form input, .form textarea {
    background-color: #2f3338;
    border-color: #4c4f53;
    padding: 24px 1em;
    color: #d7d7d7;
    font-weight: 400;
    box-shadow: none !important;
}

.submit-button {
    float: right;
    display: inline-block;
    padding: 0 20px;
    border-radius: 4px;
    color: #fff;
    background-color: #be393b;
    border: none;
    height: 45px;
    font-weight: 700;
    font-size: 13pt;
    margin: 40px 0 0 0;
}

.alert {
    margin: 0;
}

#people_form {
    padding-top: 20px;
    background-color: #2d3136;
}

.bottom_block {
    padding: 20px 14% 20px 14%;
    margin-top: 70px;
}

.social_icon {
    float: right;
}

.social_icon img {
    width: 2em;
    margin-left: 20px;
}

.social_icon.m-0 img {
    margin: 0 !important;
}

.bottom_link img {
    width: 9em;
}

.comments {
    padding: 0 14% 80px 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title {
    margin: 70px 0 20px 0;
    text-align: center;
    font-weight: 500;
    color: #37414e;
    font-size: 16pt;
}

.comment_wrapper {
    padding-top: 40px;
}

.comment_block {
    min-height: 210px;
    background-color: #e9eef3;
    height: 100%;
}

.comment_block .comment_title {
    background-color: #4b596c;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 13pt;
}

.comment_block .comment_email {
    background-color: #e9eef3;
    font-weight: 700;
    font-size: 13pt;
    color: #6d737b;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.comment_block .comment_text {
    text-align: center;
    background-color: #e9eef3;
    color: #768275;
    font-weight: 400;
    font-size: 11pt;
    padding: 10px 10px 20px 10px;
}

.comment_wrapper:nth-child(2n) .comment_block {
    background-color: #deebde;
}

.comment_wrapper:nth-child(2n) .comment_title {
    background-color: #58ad52;
}

.comment_wrapper:nth-child(2n) .comment_email {
    background-color: #deebde;
    color: #58ad52;
}

.comment_wrapper:nth-child(2n) .comment_text {
    background-color: #deebde;
}